.presentation {
  background: var(--dark-blue);
  padding: 1rem;
  width: 100%;
}

.presentation__title {
  color: var(--light-green);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.presentation__paragraph {
  color: #fff;
  font-size: 1.2rem;
  margin: 1rem;
  text-align: justify;
}

@media (min-width: 720px) {
  .presentation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
  }

  .presentation__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}
