.result {
  background: #cac7c7;
  padding: 1rem;
  width: 100%;
}

.result__title {
  color: var(--green);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  text-align: center;
}

.result__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__output {
  background-color: #cac7c7;
  border: none;
  border-bottom: 1px solid var(--green);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem;
  text-align: center;
  width: 100%;
}

.result__output:focus {
  outline: double var(--light-green);
}

.result__message--underweight {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

.result__message--normal {
  color: var(--green);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

.result__message--overweight {
  color: var(--yellow);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

.result__message--obesity {
  color: var(--red);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

@media (min-width: 720px) {
  .result__output {
    width: 30%;
  }

  .result__message--underweight {
    font-size: 0.9rem;
  }

  .result__message--normal {
    font-size: 0.9rem;
  }

  .result__message--overweight {
    font-size: 0.9rem;
  }

  .result__message--obesity {
    font-size: 0.9rem;
  }
}
