@import url(_reset.css);
@import url(_variaveis.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f0f2f5;
  /* height: 100vh; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 50vh; */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
