.result {
  background: #cac7c7;
  padding: 1rem;
  width: 100%;
}

.result__title {
  color: var(--green);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  text-align: center;
}

.result__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__output {
  background-color: #cac7c7;
  border: none;
  border-bottom: 1px solid var(--green);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem;
  text-align: center;
  width: 100%;
}

.result__output:focus {
  outline: double var(--light-green);
}

.result__message {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

.result__message--underweight {
  color: var(--dark-blue);
}

.result__message--normal {
  color: var(--green);
}

.result__message--overweight {
  color: var(--yellow);
}

.result__message--obesity {
  color: var(--red);
}

.result__reset-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.9rem 0;
}

.result__reset {
  background-color: #4e5e97;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem;
  visibility: hidden;
}

@keyframes button-appear {
  /* to {
    opacity: 1;
  } */
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes button-desappear {
  /* to {
    opacity: 0;
  } */
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.result__reset--disabled {
  background: #b3b3ff;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem;
  opacity: 0;
  animation: button-appear 2s ease-in-out forwards;
}

.result__source {
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  word-spacing: 0.3rem;
}

.result__source a {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 720px) {
  .result__output {
    width: 30%;
  }

  .result__source {
    font-size: 0.8rem;
  }

  .result__reset {
    width: 15%;
    cursor: pointer;
    transition: filter 0.2s;
  }

  .result__reset--disabled {
    width: 15%;
    color: #d9d9d9;
  }

  .result__reset:hover {
    filter: brightness(0.9);
  }
}
